button{
    float: right;
    background-color: black;
    color: white;
    font-size: larger;
}
.ima{
    border-style: solid;
    height: 220px;
    width: 180px;
}
.ima1{
    padding-left: 30px;
    border-style: solid;
    height: 220px;
}
.ima2{
    padding-left: 20px;

}
.ima3{
    padding-left: 30px;
    height: 220px;
}
#image2{
    padding-bottom: -4%;
    margin-bottom:5% ;
    margin-left: 60px;
}
#image4{
    padding-top: -3%;
    margin-top: 3%;
}
#bale{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 90px;
    /* width: 330px;
    height: 350px; */
}
#bale1{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 20px;
    /* width: 330px;
    height: 350px; */
}
#bale2{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 50px;
    /* width: 330px;
    height: 0px; */
}
.paragraph{
    padding-left: 50px;
    font-size: 30px;
}
#tops{
    padding-left: 30px;
    /* justify-content: space-between; */
    padding-bottom: -40px;
    margin-bottom: -40px;
}
.top1{
    padding-left: 20px;
}
.top2{
    padding-left: 40px;
    height: 180px;
    width: 180px;
}
.culture{
    padding-top: 5%;
    margin-top: 5%;
    padding-left: 30px;
}
.imag2{
    height: 180px;
    width: 130px;
    padding-left: 30px;
    padding-top: 20px;
}
.imag3{
    padding-left: 30px;
}
.modern{
    font-size: 30px;
    padding-left: 60px;
}
.sneakers{
    padding-top: 30px;
    padding-left: 30px;
}
#shoe2{
    padding-left: 15px;
}
#shoe3{
    padding-left: 15px;
    border-style: solid;

}
#shoe4{
    padding-left: 15px;
}
#shoe5{padding-left: 15px;
}
.plus{
    font: 20px;
}
.footer{
        display: flex;
        justify-content: space-between;
   }
#p2{
    font: 4px;
}
#loc{
    font-weight: lighter;
}

